.icon-container {
    width: 1em;
    height: 1em;
    background: transparent;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
  
    &:hover {
      cursor: pointer;
      background: #2f373b;
    }
  
    .custom-app-icon {
      --px-icon-default-width: 1em;
      --px-icon-default-height: 1em;
    }
  
    &.isActive {
      background-color: transparent !important;
      border: 1px solid transparent !important;
      pointer-events: none;
  
      &:hover {
        cursor: pointer;
      }
    }
  
    &.selected {
      background-color: #000102 !important;
    }
  
    img, px-icon {
      width: 100%;
      height: 100%;
    }
  }