<div class="map-display-container">
  <div class="analytic-title">
    <div class="title">
      Predicted Outages
    </div>
    <div class="outage-range">
      <div class="range" *ngFor="let po of poRange">
        <div class="box" [style.background-color]='po.color'>
        </div>
        <div class="range-number" *ngIf="toggleOutage">
          {{po.min}}{{ isNaN(po.max) ? '' : ' to '}}{{po.max || '+' }}
        </div>
        <div class="range-number" *ngIf="!toggleOutage">
          {{po.minPer}} to {{po.maxPer}}%
        </div>
      </div>
      <div class="map-actions">
        <div (click)="settoggleOutage(false)" class="map-marker" [style.background-color]="!mapStyleOutage ? '#42515e' : '#1d2b33'"></div>
        <div (click)="settoggleOutage(true)" class="noun-power-outage" [style.background-color]="mapStyleOutage ? '#42515e' : '#1d2b33'"></div>
      </div>
    </div>

  </div>
  <div class="analytic-map">
    <!-- Predicted Outages -->
    <map-display [mapData]="mapDataOutage" [mapStyle]="mapStyleOutage" [renderTo]="'mapOutage1'"></map-display>
    <div id="mapOutage1" class="map"></div>
  </div>
</div>