<div class="overview-body">
  <div class="analytics-row-container">
    <div class="analytics-display-container">
      <app-forecasted-weather></app-forecasted-weather>
    </div>
    <div class="analytics-display-container">
      <app-predicted-outage></app-predicted-outage>
    </div>
  </div>

  <div class="analytics-row-container">
    <div class="analytics-display-container">
      <div class="analytic-title">Forecasted Severe Weather</div>
    </div>
    <div class="analytics-display-container">
      <div class="analytic-title">Predicted Outages by Service Center</div>
    </div>
  </div>

  <div class="analytics-row-container">
    <div class="analytics-display-container">
      <div class="analytic-title">Precipitation by Service Center</div>
    </div>
    <div class="analytics-display-container">
      <div class="analytic-title">Sustained Windspeed by Service Center</div>
    </div>
  </div>
</div>