.analytic-title {
    display: flex;
    line-height: auto;
    padding-bottom: 10px;
    .title {
      width: auto;
      color: white;
      align-self: center;
    }
    .outage-range {
      display: flex;
      justify-content: flex-end;
      width: 80%;
      .range {
        display: flex;
        align-items: center;
        padding-right: 10px;
        .box {
          width: 10px;
          height: 10px;
          margin: 2px 2px;
        }
      }
    }
    
  }
  .map-display-container {
    width: 100%;
    height: 40vh;
    padding: 1em;
    display: inline-table;
    .analytic-map {
      height: 40vh;
      .map {
        height: inherit;
        width: inherit
      }
    }
  }
  .map-actions {
    display: flex;
    justify-content: flex-end;
    a {
      margin-left: 5px;
    }
  }